{
  "openapi": "3.1.0",
  "info": {
    "title": "NUST LMS API",
    "description": "NUST Learning Management System API for developer integrations (Moodle AJAX wrapper).\nAuthenticate with your NUST LMS credentials via `POST /auth/login` to receive a bearer token, then call any operation with `Authorization: Bearer <token>`. The NustDevKit gateway logs into the LMS on your behalf and manages the underlying session (cookie + sesskey) server-side, so you never handle the ephemeral sesskey.\n",
    "contact": {},
    "version": "1.0.0"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.nustdevkit.com",
      "description": "NustDevKit Gateway",
      "variables": {}
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "login",
        "description": "Authenticates against NUST LMS on your behalf and returns a gateway JWT. The LMS session (cookie + sesskey) is created and held server-side; use the returned token as `Authorization: Bearer <token>` for every other operation.\n",
        "operationId": "login",
        "parameters": [],
        "requestBody": {
          "description": "NUST LMS credentials.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LoginRequest"
                  },
                  {
                    "description": "NUST LMS credentials."
                  }
                ],
                "contentMediaType": "application/json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Authentication succeeded; bearer token issued.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TokenResponse"
                    },
                    {
                      "description": "Bearer token issued by the gateway after a successful login."
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "401": {
            "description": "Invalid LMS credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthLogin401Error1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "parameters": []
    },
    "/service/core_course_get_recent_courses": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "getCoreRecentCourses",
        "description": "Returns the courses the authenticated user has accessed most recently, ordered by last access time.\nMoodle method: `core_course_get_recent_courses`\n",
        "operationId": "getCoreRecentCourses",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of courses to return.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recently accessed courses ordered by last access.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RecentCourse"
                  },
                  "description": "Recently accessed courses ordered by last access time.",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "Bad request or Moodle exception.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MoodleError"
                    },
                    {
                      "description": "Error returned by the LMS on a failed operation."
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/service/core_course_get_enrolled_courses_by_timeline_classification": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "getEnrolledCoursesByTimeline",
        "description": "Returns all courses the user is enrolled in, filtered by timeline classification and sorted by a chosen field. Supports pagination via offset.\nMoodle method: `core_course_get_enrolled_courses_by_timeline_classification`\n",
        "operationId": "getEnrolledCoursesByTimeline",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Zero-based pagination offset.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of courses to return.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "classification",
            "in": "query",
            "description": "Timeline classification filter for enrolled courses.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CourseTimelineClassification"
                },
                {
                  "description": "Timeline classification filter for enrolled courses."
                }
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field used to sort enrolled course results.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CourseTimelineSortField"
                },
                {
                  "description": "Field used to sort enrolled course results."
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of enrolled courses.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/EnrolledCoursesResponse"
                    },
                    {
                      "description": "Paginated enrolled-courses response."
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "Bad request or Moodle exception.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MoodleError"
                    },
                    {
                      "description": "Error returned by the LMS on a failed operation."
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/service/core_course_get_contents": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "getCourseContents",
        "description": "Returns the full content structure of a course — its sections (weeks/topics) and the modules within them (files, folders, pages, URLs, assignments, and other activities), including metadata for each uploaded file. This is the data the course page itself is built from.\nNote: file URLs point at Moodle's `pluginfile.php` and require authentication (a webservice token or the active session) to download — the URL alone is not publicly fetchable.\nMoodle method: `core_course_get_contents`\n",
        "operationId": "getCourseContents",
        "parameters": [
          {
            "name": "courseid",
            "in": "query",
            "description": "ID of the course whose contents to retrieve.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Course sections, each with its modules and their uploaded files.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourseSection"
                  },
                  "description": "The course's sections, in display order.",
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "Bad request or Moodle exception.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MoodleError"
                    },
                    {
                      "description": "Error returned by the LMS on a failed operation."
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/service/core_calendar_get_action_events_by_timesort": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "summary": "getCalendarEventsByTimesort",
        "description": "Returns action events (deadlines) across all enrolled courses, ordered by their sort timestamp. On NUST LMS these are submission due dates for assignments, labs, quizzes, and similar dated activities. Use `timesortfrom` to filter to upcoming deadlines only.\nMoodle method: `core_calendar_get_action_events_by_timesort`\n",
        "operationId": "getCalendarEventsByTimesort",
        "parameters": [
          {
            "name": "limitnum",
            "in": "query",
            "description": "Maximum number of events to return (e.g. 20 for one page of results).",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32",
              "examples": [
                20
              ]
            }
          },
          {
            "name": "timesortfrom",
            "in": "query",
            "description": "Unix timestamp (seconds since epoch). Only events with a sort time at or after this value are returned. Pass `0` for no lower bound (all upcoming and past events). To see only upcoming deadlines, pass the current epoch time (e.g. the output of `Date.now() / 1000 | 0` in JS or `int(time.time())` in Python).",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32",
              "examples": [
                0
              ]
            }
          },
          {
            "name": "timesortto",
            "in": "query",
            "description": "Only return events with timesort <= this Unix timestamp.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "aftereventid",
            "in": "query",
            "description": "Return events whose ID is greater than this value (cursor pagination).",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar events sorted by timesort.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CalendarEventsResponse"
                    },
                    {
                      "description": "A list of calendar events with pagination boundary IDs."
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "Bad request or Moodle exception.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MoodleError"
                    },
                    {
                      "description": "Error returned by the LMS on a failed operation."
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/service/core_calendar_get_action_events_by_course": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "summary": "getCalendarEventsByCourse",
        "description": "Returns all action events (deadlines) for a single course — assignment, lab, and quiz submission due dates, and other dated activities.\nMoodle method: `core_calendar_get_action_events_by_course`\n",
        "operationId": "getCalendarEventsByCourse",
        "parameters": [
          {
            "name": "courseid",
            "in": "query",
            "description": "ID of the course to fetch events for.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "timesortfrom",
            "in": "query",
            "description": "Only return events with timesort >= this Unix timestamp.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "timesortto",
            "in": "query",
            "description": "Only return events with timesort <= this Unix timestamp.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "aftereventid",
            "in": "query",
            "description": "Cursor-based pagination — return events after this event ID.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "limitnum",
            "in": "query",
            "description": "Maximum number of events to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar events for the specified course.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CalendarEventsResponse"
                    },
                    {
                      "description": "A list of calendar events with pagination boundary IDs."
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "Bad request or Moodle exception.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MoodleError"
                    },
                    {
                      "description": "Error returned by the LMS on a failed operation."
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/service/core_webservice_get_site_info": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "getSiteInfo",
        "description": "Returns your identity (user ID, username, full name, profile picture) and basic site information. Use this to discover your own `userid` — required by other endpoints such as popup notifications (`useridto`).\nMoodle method: `core_webservice_get_site_info`\n",
        "operationId": "getSiteInfo",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Your account and site information.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SiteInfo"
                    },
                    {
                      "description": "Your identity plus basic site information, from Moodle's site-info call. The `userid` here is what other endpoints need (e.g. it is the `useridto` for popup notifications).\n"
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "Bad request or Moodle exception.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MoodleError"
                    },
                    {
                      "description": "Error returned by the LMS on a failed operation."
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/service/message_popup_get_popup_notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "getPopupNotifications",
        "description": "Returns the most recent popup notifications sent to a user, with support for pagination. Also returns the total count of unread notifications.\nMoodle method: `message_popup_get_popup_notifications`\n",
        "operationId": "getPopupNotifications",
        "parameters": [
          {
            "name": "useridto",
            "in": "query",
            "description": "ID of the recipient user (yourself), passed as a string. Get your numeric user ID from `GET /service/core_webservice_get_site_info`.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of notifications to return.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Popup notifications and total unread count.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PopupNotificationsResponse"
                    },
                    {
                      "description": "Response envelope for the popup-notifications endpoint."
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "Bad request or Moodle exception.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MoodleError"
                    },
                    {
                      "description": "Error returned by the LMS on a failed operation."
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "LoginRequest": {
        "title": "LoginRequest",
        "required": [
          "username",
          "password"
        ],
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "NUST LMS username.",
            "examples": [
              "johndoe.bscs23seecs"
            ]
          },
          "password": {
            "type": "string",
            "description": "NUST LMS password.",
            "contentEncoding": "password"
          }
        },
        "description": "NUST LMS credentials used to obtain a gateway bearer token."
      },
      "TokenResponse": {
        "title": "TokenResponse",
        "required": [
          "access_token",
          "token_type"
        ],
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT to send as `Authorization: Bearer <token>` on subsequent requests."
          },
          "token_type": {
            "type": "string",
            "examples": [
              "bearer"
            ]
          }
        },
        "description": "Bearer token issued by the gateway after a successful login."
      },
      "CourseTimelineClassification": {
        "title": "CourseTimelineClassification",
        "enum": [
          "all",
          "inprogress",
          "past",
          "future",
          "favourites",
          "hidden",
          "allincludinghidden"
        ],
        "type": "string",
        "description": "Timeline classification filter for enrolled courses."
      },
      "CourseTimelineSortField": {
        "title": "CourseTimelineSortField",
        "enum": [
          "fullname",
          "shortname",
          "id",
          "idnumber",
          "timeaccess"
        ],
        "type": "string",
        "description": "Field used to sort enrolled course results."
      },
      "MoodleWarning": {
        "title": "MoodleWarning",
        "type": "object",
        "properties": {
          "item": {
            "type": "string",
            "description": "Item identifier related to the warning; empty string if not applicable."
          },
          "itemid": {
            "type": "integer",
            "description": "Numeric item ID related to the warning; 0 if not applicable.",
            "contentEncoding": "int32",
            "examples": [
              0
            ]
          },
          "warningcode": {
            "type": "string",
            "description": "Machine-readable warning code; empty string if no code."
          },
          "message": {
            "type": "string",
            "description": "Human-readable warning description."
          }
        },
        "description": "A non-fatal warning returned alongside a successful response."
      },
      "SiteInfo": {
        "title": "SiteInfo",
        "required": [
          "userid",
          "username",
          "fullname",
          "sitename"
        ],
        "type": "object",
        "properties": {
          "userid": {
            "type": "integer",
            "description": "Your numeric Moodle user ID.",
            "contentEncoding": "int32",
            "examples": [
              234567
            ]
          },
          "username": {
            "type": "string",
            "description": "Your login username.",
            "examples": [
              "johndoe.bscs23seecs"
            ]
          },
          "firstname": {
            "type": "string",
            "description": "Your first name.",
            "examples": [
              "John"
            ]
          },
          "lastname": {
            "type": "string",
            "description": "Your last name.",
            "examples": [
              "Doe"
            ]
          },
          "fullname": {
            "type": "string",
            "description": "Your full display name.",
            "examples": [
              "John Doe"
            ]
          },
          "userpictureurl": {
            "type": "string",
            "description": "URL of your profile picture.",
            "examples": [
              "https://lms.nust.edu.pk/portal/pluginfile.php/1583361/user/icon/moove/f1"
            ]
          },
          "lang": {
            "type": "string",
            "description": "Your preferred interface language code.",
            "examples": [
              "en"
            ]
          },
          "sitename": {
            "type": "string",
            "description": "Name of the LMS site.",
            "examples": [
              "NUST LMS"
            ]
          },
          "siteurl": {
            "type": "string",
            "description": "Base URL of the LMS site.",
            "examples": [
              "https://lms.nust.edu.pk/portal"
            ]
          },
          "release": {
            "type": "string",
            "description": "Moodle release/version string of the site.",
            "examples": [
              "4.1.2"
            ]
          }
        },
        "description": "Your identity plus basic site information, from Moodle's site-info call. The `userid` here is what other endpoints need (e.g. it is the `useridto` for popup notifications)."
      },
      "MoodleError": {
        "title": "MoodleError",
        "type": "object",
        "properties": {
          "errorcode": {
            "type": "string",
            "description": "Machine-readable error code identifier.",
            "examples": [
              "invalidrecord"
            ]
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description.",
            "examples": [
              "Can't find data record in database table."
            ]
          },
          "link": {
            "type": "string",
            "description": "Redirect URL for the user; empty string if not applicable."
          },
          "moreinfourl": {
            "type": "string",
            "description": "URL to additional error documentation; empty string if not available."
          },
          "debuginfo": {
            "type": "string",
            "description": "Additional debug information; empty string when not in debug mode."
          }
        },
        "description": "Error returned by the LMS on a failed operation."
      },
      "Course": {
        "title": "Course",
        "required": [
          "id",
          "fullname",
          "shortname",
          "idnumber",
          "summary",
          "summaryformat",
          "startdate",
          "enddate",
          "visible",
          "fullnamedisplay",
          "viewurl",
          "progress",
          "hasprogress",
          "isfavourite",
          "hidden",
          "showshortname",
          "coursecategory"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique course identifier.",
            "contentEncoding": "int32",
            "examples": [
              49900
            ]
          },
          "fullname": {
            "type": "string",
            "description": "Full display name of the course.",
            "examples": [
              "CS-212 Object Oriented Programming BSCS-13 2K23 ABC"
            ]
          },
          "shortname": {
            "type": "string",
            "description": "Short course code or abbreviated name.",
            "examples": [
              "CS-212-Sp'24 BSCS-13 2K23 ABC"
            ]
          },
          "idnumber": {
            "type": "string",
            "description": "Institution-assigned course ID number; empty string if not set."
          },
          "summary": {
            "type": "string",
            "description": "HTML summary of the course."
          },
          "summaryformat": {
            "type": "integer",
            "description": "Format of the summary field (1 = HTML).",
            "contentEncoding": "int32",
            "examples": [
              1
            ]
          },
          "startdate": {
            "type": "integer",
            "description": "Course start date as Unix timestamp.",
            "contentEncoding": "int32",
            "examples": [
              1706468400
            ]
          },
          "enddate": {
            "type": "integer",
            "description": "Course end date as Unix timestamp. 0 means no end date.",
            "contentEncoding": "int32",
            "examples": [
              1717362000
            ]
          },
          "visible": {
            "type": "boolean",
            "description": "Whether the course is visible to enrolled students.",
            "examples": [
              true
            ]
          },
          "fullnamedisplay": {
            "type": "string",
            "description": "Display name of the course (may differ from fullname for context).",
            "examples": [
              "CS-212 Object Oriented Programming BSCS-13 2K23 ABC"
            ]
          },
          "viewurl": {
            "type": "string",
            "description": "URL to the course page on the LMS portal.",
            "examples": [
              "https://lms.nust.edu.pk/portal/course/view.php?id=49900"
            ]
          },
          "progress": {
            "maximum": 100.0,
            "minimum": 0.0,
            "type": "integer",
            "description": "Student's completion progress as a percentage.",
            "contentEncoding": "int32",
            "examples": [
              21
            ]
          },
          "hasprogress": {
            "type": "boolean",
            "description": "Whether completion tracking is enabled for this course.",
            "examples": [
              true
            ]
          },
          "isfavourite": {
            "type": "boolean",
            "description": "Whether the user has marked this course as a favourite.",
            "examples": [
              false
            ]
          },
          "hidden": {
            "type": "boolean",
            "description": "Whether the user has hidden this course from their dashboard.",
            "examples": [
              false
            ]
          },
          "showshortname": {
            "type": "boolean",
            "description": "Whether the short name is displayed alongside the full name.",
            "examples": [
              false
            ]
          },
          "coursecategory": {
            "type": "string",
            "description": "Name of the category this course belongs to.",
            "examples": [
              "2nd Semester (SP-2024)"
            ]
          }
        },
        "description": "An enrolled course."
      },
      "RecentCourseFields": {
        "title": "RecentCourseFields",
        "required": [
          "timeaccess"
        ],
        "type": "object",
        "properties": {
          "timeaccess": {
            "type": "integer",
            "description": "Unix timestamp of the user's most recent access to this course.",
            "contentEncoding": "int32",
            "examples": [
              1781632422
            ]
          }
        },
        "description": "Additional fields specific to recently accessed courses."
      },
      "RecentCourse": {
        "title": "RecentCourse",
        "required": [
          "id",
          "fullname",
          "shortname",
          "idnumber",
          "summary",
          "summaryformat",
          "startdate",
          "enddate",
          "visible",
          "fullnamedisplay",
          "viewurl",
          "progress",
          "hasprogress",
          "isfavourite",
          "hidden",
          "showshortname",
          "coursecategory",
          "timeaccess"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique course identifier.",
            "contentEncoding": "int32",
            "examples": [
              49900
            ]
          },
          "fullname": {
            "type": "string",
            "description": "Full display name of the course.",
            "examples": [
              "CS-212 Object Oriented Programming BSCS-13 2K23 ABC"
            ]
          },
          "shortname": {
            "type": "string",
            "description": "Short course code or abbreviated name.",
            "examples": [
              "CS-212-Sp'24 BSCS-13 2K23 ABC"
            ]
          },
          "idnumber": {
            "type": "string",
            "description": "Institution-assigned course ID number; empty string if not set."
          },
          "summary": {
            "type": "string",
            "description": "HTML summary of the course."
          },
          "summaryformat": {
            "type": "integer",
            "description": "Format of the summary field (1 = HTML).",
            "contentEncoding": "int32",
            "examples": [
              1
            ]
          },
          "startdate": {
            "type": "integer",
            "description": "Course start date as Unix timestamp.",
            "contentEncoding": "int32",
            "examples": [
              1706468400
            ]
          },
          "enddate": {
            "type": "integer",
            "description": "Course end date as Unix timestamp. 0 means no end date.",
            "contentEncoding": "int32",
            "examples": [
              1717362000
            ]
          },
          "visible": {
            "type": "boolean",
            "description": "Whether the course is visible to enrolled students.",
            "examples": [
              true
            ]
          },
          "fullnamedisplay": {
            "type": "string",
            "description": "Display name of the course (may differ from fullname for context).",
            "examples": [
              "CS-212 Object Oriented Programming BSCS-13 2K23 ABC"
            ]
          },
          "viewurl": {
            "type": "string",
            "description": "URL to the course page on the LMS portal.",
            "examples": [
              "https://lms.nust.edu.pk/portal/course/view.php?id=49900"
            ]
          },
          "progress": {
            "maximum": 100.0,
            "minimum": 0.0,
            "type": "integer",
            "description": "Student's completion progress as a percentage.",
            "contentEncoding": "int32",
            "examples": [
              21
            ]
          },
          "hasprogress": {
            "type": "boolean",
            "description": "Whether completion tracking is enabled for this course.",
            "examples": [
              true
            ]
          },
          "isfavourite": {
            "type": "boolean",
            "description": "Whether the user has marked this course as a favourite.",
            "examples": [
              false
            ]
          },
          "hidden": {
            "type": "boolean",
            "description": "Whether the user has hidden this course from their dashboard.",
            "examples": [
              false
            ]
          },
          "showshortname": {
            "type": "boolean",
            "description": "Whether the short name is displayed alongside the full name.",
            "examples": [
              false
            ]
          },
          "coursecategory": {
            "type": "string",
            "description": "Name of the category this course belongs to.",
            "examples": [
              "2nd Semester (SP-2024)"
            ]
          },
          "timeaccess": {
            "type": "integer",
            "description": "Unix timestamp of the user's most recent access to this course.",
            "contentEncoding": "int32",
            "examples": [
              1781632422
            ]
          }
        },
        "description": "A recently accessed course, extending Course with the last-access timestamp."
      },
      "EnrolledCoursesResponse": {
        "title": "EnrolledCoursesResponse",
        "required": [
          "courses",
          "nextoffset"
        ],
        "type": "object",
        "properties": {
          "courses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Course"
            },
            "description": "List of enrolled courses for the current page."
          },
          "nextoffset": {
            "type": "integer",
            "description": "Offset to pass on the next page request; -1 when no further pages exist.",
            "contentEncoding": "int32",
            "examples": [
              29
            ]
          }
        },
        "description": "Paginated enrolled-courses response."
      },
      "CourseContentFile": {
        "title": "CourseContentFile",
        "required": [
          "type",
          "filename",
          "fileurl"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Content type, e.g. 'file' or 'url'.",
            "examples": [
              "file"
            ]
          },
          "filename": {
            "type": "string",
            "description": "Name of the file (or title of the link).",
            "examples": [
              "Lecture01-Intro.pdf"
            ]
          },
          "filepath": {
            "type": [
              "string",
              "null"
            ],
            "description": "Folder path within the module; \"/\" for the module root.",
            "examples": [
              "/"
            ]
          },
          "filesize": {
            "type": "integer",
            "description": "File size in bytes (0 for links).",
            "contentEncoding": "int32",
            "examples": [
              482133
            ]
          },
          "fileurl": {
            "type": "string",
            "description": "Moodle pluginfile.php URL for the content. Downloading the bytes requires authentication (a webservice token or the active session); the URL alone is not publicly fetchable.",
            "examples": [
              "https://lms.nust.edu.pk/portal/webservice/pluginfile.php/123456/mod_resource/content/1/Lecture01-Intro.pdf"
            ]
          },
          "mimetype": {
            "type": [
              "string",
              "null"
            ],
            "description": "MIME type of the file when applicable.",
            "examples": [
              "application/pdf"
            ]
          },
          "timemodified": {
            "type": "integer",
            "description": "Unix timestamp of the last modification.",
            "contentEncoding": "int32",
            "examples": [
              1707745200
            ]
          }
        },
        "description": "A single file (or link) uploaded inside a course module."
      },
      "CourseModule": {
        "title": "CourseModule",
        "required": [
          "id",
          "name",
          "modname"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Course module ID (cmid).",
            "contentEncoding": "int32",
            "examples": [
              987654
            ]
          },
          "name": {
            "type": "string",
            "description": "Display name of the module.",
            "examples": [
              "Lecture 01 — Introduction"
            ]
          },
          "modname": {
            "type": "string",
            "description": "Module type, e.g. 'resource' (file), 'folder', 'url', 'page', 'label', 'assign', 'quiz', 'forum'.",
            "examples": [
              "resource"
            ]
          },
          "modplural": {
            "type": "string",
            "description": "Human-readable plural label for the module type.",
            "examples": [
              "Files"
            ]
          },
          "instance": {
            "type": "integer",
            "description": "Instance ID of the activity within its module type.",
            "contentEncoding": "int32",
            "examples": [
              45678
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "HTML description/intro for the module, when present.",
            "examples": [
              "<p>Course introduction and logistics.</p>"
            ]
          },
          "visible": {
            "type": "integer",
            "description": "Whether the module is visible (1) or hidden (0).",
            "contentEncoding": "int32",
            "examples": [
              1
            ]
          },
          "uservisible": {
            "type": "boolean",
            "description": "Whether the module is visible to the current user.",
            "examples": [
              true
            ]
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Link to open the activity/resource, when applicable.",
            "examples": [
              "https://lms.nust.edu.pk/portal/mod/resource/view.php?id=987654"
            ]
          },
          "modicon": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL of the module's type icon.",
            "examples": [
              "https://lms.nust.edu.pk/portal/theme/image.php/moove/core/1/f/pdf"
            ]
          },
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CourseContentFile"
            },
            "description": "Uploaded files/links for this module (present for resource/folder modules)."
          }
        },
        "description": "An item on the course page — an activity or resource (file, page, URL, assignment, ...)."
      },
      "CourseSection": {
        "title": "CourseSection",
        "required": [
          "id",
          "name",
          "section",
          "modules"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Section ID.",
            "contentEncoding": "int32",
            "examples": [
              33445
            ]
          },
          "name": {
            "type": "string",
            "description": "Section title (e.g. a week or topic name).",
            "examples": [
              "Week 1"
            ]
          },
          "section": {
            "type": "integer",
            "description": "Zero-based section number within the course.",
            "contentEncoding": "int32",
            "examples": [
              1
            ]
          },
          "visible": {
            "type": "integer",
            "description": "Whether the section is visible (1) or hidden (0).",
            "contentEncoding": "int32",
            "examples": [
              1
            ]
          },
          "summary": {
            "type": [
              "string",
              "null"
            ],
            "description": "HTML summary shown at the top of the section.",
            "examples": [
              "<p>Introduction and course overview.</p>"
            ]
          },
          "summaryformat": {
            "type": "integer",
            "description": "Moodle text format of the summary (1 = HTML).",
            "contentEncoding": "int32",
            "examples": [
              1
            ]
          },
          "uservisible": {
            "type": "boolean",
            "description": "Whether the section is visible to the current user.",
            "examples": [
              true
            ]
          },
          "modules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CourseModule"
            },
            "description": "The activities and resources in this section."
          }
        },
        "description": "A section (week/topic) of the course, containing its modules."
      },
      "EventIcon": {
        "title": "EventIcon",
        "required": [
          "key",
          "component",
          "alttext"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Icon key name used to locate the icon asset.",
            "examples": [
              "icon"
            ]
          },
          "component": {
            "type": "string",
            "description": "Moodle component that owns the icon (e.g., 'assign').",
            "examples": [
              "assign"
            ]
          },
          "alttext": {
            "type": "string",
            "description": "Accessible alt text for the icon image.",
            "examples": [
              "Activity event"
            ]
          }
        },
        "description": "Icon metadata for a calendar event."
      },
      "EventSubscription": {
        "title": "EventSubscription",
        "required": [
          "displayeventsource"
        ],
        "type": "object",
        "properties": {
          "displayeventsource": {
            "type": "boolean",
            "description": "Whether to display the event source label on the calendar.",
            "examples": [
              false
            ]
          }
        },
        "description": "Subscription display settings for a calendar event."
      },
      "EventAction": {
        "title": "EventAction",
        "required": [
          "name",
          "url",
          "itemcount",
          "actionable",
          "showitemcount"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Display label for the primary action button.",
            "examples": [
              "Add submission"
            ]
          },
          "url": {
            "type": "string",
            "description": "URL the user should navigate to in order to perform the action.",
            "examples": [
              "https://lms.nust.edu.pk/portal/mod/assign/view.php?id=999404&action=editsubmission"
            ]
          },
          "itemcount": {
            "type": "integer",
            "description": "Number of items associated with this action.",
            "contentEncoding": "int32",
            "examples": [
              1
            ]
          },
          "actionable": {
            "type": "boolean",
            "description": "Whether the action can currently be taken by the user.",
            "examples": [
              true
            ]
          },
          "showitemcount": {
            "type": "boolean",
            "description": "Whether to display the item count alongside the action label.",
            "examples": [
              false
            ]
          }
        },
        "description": "Primary action button metadata for a calendar event."
      },
      "CalendarEvent": {
        "title": "CalendarEvent",
        "required": [
          "id",
          "name",
          "description",
          "descriptionformat",
          "location",
          "component",
          "modulename",
          "instance",
          "eventtype",
          "timestart",
          "timeduration",
          "timesort",
          "visible",
          "timemodified",
          "icon",
          "course",
          "subscription",
          "canedit",
          "candelete",
          "deleteurl",
          "editurl",
          "viewurl",
          "formattedtime",
          "isactionevent",
          "iscourseevent",
          "iscategoryevent",
          "normalisedeventtype",
          "normalisedeventtypetext",
          "url"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique calendar event identifier.",
            "contentEncoding": "int32",
            "examples": [
              149885
            ]
          },
          "name": {
            "type": "string",
            "description": "Display name of the calendar event.",
            "examples": [
              "Lab 1 BSCS 13C is due"
            ]
          },
          "description": {
            "type": "string",
            "description": "HTML description body of the event.",
            "examples": [
              "<p dir=\"ltr\">Lab 1 BSCS 13C<br /></p>"
            ]
          },
          "descriptionformat": {
            "type": "integer",
            "description": "Text format of the description (1 = HTML).",
            "contentEncoding": "int32",
            "examples": [
              1
            ]
          },
          "location": {
            "type": "string",
            "description": "Physical or virtual location of the event; empty string if not specified."
          },
          "categoryid": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Course category ID; null if not a category event.",
            "contentEncoding": "int32"
          },
          "groupid": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Group ID if the event is group-specific; null otherwise.",
            "contentEncoding": "int32"
          },
          "userid": {
            "type": [
              "integer",
              "null"
            ],
            "description": "User ID if the event is user-specific; null otherwise.",
            "contentEncoding": "int32"
          },
          "repeatid": {
            "type": [
              "integer",
              "null"
            ],
            "description": "ID of the repeat group for recurring events; null if not recurring.",
            "contentEncoding": "int32"
          },
          "eventcount": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Total number of events in the repeat group; null if not applicable.",
            "contentEncoding": "int32"
          },
          "component": {
            "type": "string",
            "description": "Moodle component that created the event (e.g., 'mod_assign').",
            "examples": [
              "mod_assign"
            ]
          },
          "modulename": {
            "type": "string",
            "description": "Short name of the Moodle activity module (e.g., 'assign').",
            "examples": [
              "assign"
            ]
          },
          "instance": {
            "type": "integer",
            "description": "The course module instance ID.",
            "contentEncoding": "int32",
            "examples": [
              999404
            ]
          },
          "eventtype": {
            "type": "string",
            "description": "Type of the event (e.g., 'due', 'open', 'close').",
            "examples": [
              "due"
            ]
          },
          "timestart": {
            "type": "integer",
            "description": "Event start time as Unix timestamp.",
            "contentEncoding": "int32",
            "examples": [
              1706900340
            ]
          },
          "timeduration": {
            "type": "integer",
            "description": "Duration in seconds; 0 for point-in-time events.",
            "contentEncoding": "int32",
            "examples": [
              0
            ]
          },
          "timesort": {
            "type": "integer",
            "description": "Sort timestamp used for ordering events.",
            "contentEncoding": "int32",
            "examples": [
              1706900340
            ]
          },
          "visible": {
            "type": "integer",
            "description": "Visibility flag for a calendar event. 1 means the event is visible; 0 means it is hidden.",
            "contentEncoding": "int32"
          },
          "timemodified": {
            "type": "integer",
            "description": "Last modification time as Unix timestamp.",
            "contentEncoding": "int32",
            "examples": [
              1779088440
            ]
          },
          "icon": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EventIcon"
              },
              {
                "description": "Icon metadata for a calendar event."
              }
            ]
          },
          "course": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Course"
              },
              {
                "description": "An enrolled course."
              }
            ]
          },
          "subscription": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EventSubscription"
              },
              {
                "description": "Subscription display settings for a calendar event."
              }
            ]
          },
          "canedit": {
            "type": "boolean",
            "description": "Whether the current user can edit this event.",
            "examples": [
              false
            ]
          },
          "candelete": {
            "type": "boolean",
            "description": "Whether the current user can delete this event.",
            "examples": [
              false
            ]
          },
          "deleteurl": {
            "type": "string",
            "description": "URL to delete this calendar event.",
            "examples": [
              "https://lms.nust.edu.pk/portal/calendar/delete.php?id=149885&course=49900"
            ]
          },
          "editurl": {
            "type": "string",
            "description": "URL to edit the underlying course module associated with this event.",
            "examples": [
              "https://lms.nust.edu.pk/portal/course/mod.php?update=999404&return=1&sesskey=XXXX"
            ]
          },
          "viewurl": {
            "type": "string",
            "description": "URL to view this event on the calendar.",
            "examples": [
              "https://lms.nust.edu.pk/portal/calendar/view.php?view=day&course=49900&time=1706900340"
            ]
          },
          "formattedtime": {
            "type": "string",
            "description": "HTML-formatted human-readable event time string.",
            "examples": [
              "<span class=\"dimmed_text\">Friday, 2 February, 11:59 PM</span>"
            ]
          },
          "isactionevent": {
            "type": "boolean",
            "description": "Whether this is an action event requiring user interaction.",
            "examples": [
              true
            ]
          },
          "iscourseevent": {
            "type": "boolean",
            "description": "Whether this event is associated with a specific course.",
            "examples": [
              false
            ]
          },
          "iscategoryevent": {
            "type": "boolean",
            "description": "Whether this event is associated with a course category.",
            "examples": [
              false
            ]
          },
          "groupname": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name of the group for group-specific events; null otherwise."
          },
          "normalisedeventtype": {
            "type": "string",
            "description": "Normalised event type identifier used for display grouping.",
            "examples": [
              "course"
            ]
          },
          "normalisedeventtypetext": {
            "type": "string",
            "description": "Human-readable label for the normalised event type.",
            "examples": [
              "Course event"
            ]
          },
          "action": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EventAction"
              },
              {
                "description": "Primary action button metadata for a calendar event."
              }
            ]
          },
          "url": {
            "type": "string",
            "description": "Direct URL to the course activity associated with this event.",
            "examples": [
              "https://lms.nust.edu.pk/portal/mod/assign/view.php?id=999404"
            ]
          }
        },
        "description": "A calendar action event. On NUST LMS these represent deadlines — the due date for an assignment, lab, quiz, or other submission tied to a course activity."
      },
      "CalendarEventsResponse": {
        "title": "CalendarEventsResponse",
        "required": [
          "events",
          "firstid",
          "lastid"
        ],
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CalendarEvent"
            },
            "description": "List of calendar action events for the current result set."
          },
          "firstid": {
            "type": "integer",
            "description": "Event ID of the first item in the result set.",
            "contentEncoding": "int32",
            "examples": [
              149885
            ]
          },
          "lastid": {
            "type": "integer",
            "description": "Event ID of the last item in the result set.",
            "contentEncoding": "int32",
            "examples": [
              151886
            ]
          }
        },
        "description": "A list of calendar events with pagination boundary IDs."
      },
      "Notification": {
        "title": "Notification",
        "required": [
          "id",
          "useridfrom",
          "useridto",
          "subject",
          "shortenedsubject",
          "text",
          "fullmessage",
          "fullmessageformat",
          "fullmessagehtml",
          "smallmessage",
          "contexturl",
          "contexturlname",
          "timecreated",
          "timecreatedpretty",
          "read",
          "deleted",
          "iconurl",
          "component",
          "eventtype",
          "customdata"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique notification identifier.",
            "contentEncoding": "int32",
            "examples": [
              4857819
            ]
          },
          "useridfrom": {
            "type": "integer",
            "description": "User ID of the sender.",
            "contentEncoding": "int32",
            "examples": [
              234567
            ]
          },
          "useridto": {
            "type": "integer",
            "description": "User ID of the recipient.",
            "contentEncoding": "int32",
            "examples": [
              123456
            ]
          },
          "subject": {
            "type": "string",
            "description": "Subject line of the notification.",
            "examples": [
              "CS-101 Introduction to Computing: Lab 3 Submission Deadline"
            ]
          },
          "shortenedsubject": {
            "type": "string",
            "description": "Shortened version of the notification subject for compact display.",
            "examples": [
              "CS-101 Introduction to Computing: Lab 3 Submission Deadline"
            ]
          },
          "text": {
            "type": "string",
            "description": "Short HTML excerpt of the notification.",
            "examples": [
              "<p>John Doe posted in CS-101 Introduction to Computing...</p>"
            ]
          },
          "fullmessage": {
            "type": "string",
            "description": "Full plain-text body of the notification."
          },
          "fullmessageformat": {
            "type": "integer",
            "description": "Format identifier for fullmessagehtml (2 = Markdown source).",
            "contentEncoding": "int32",
            "examples": [
              2
            ]
          },
          "fullmessagehtml": {
            "type": "string",
            "description": "Full HTML body of the notification email."
          },
          "smallmessage": {
            "type": "string",
            "description": "Short plain-text preview of the notification.",
            "examples": [
              "John Doe posted in CS-101 Introduction to Computing..."
            ]
          },
          "contexturl": {
            "type": "string",
            "description": "URL to the relevant context for this notification (e.g., a forum post).",
            "examples": [
              "https://lms.nust.edu.pk/portal/mod/forum/discuss.php?d=41767#p52342"
            ]
          },
          "contexturlname": {
            "type": "string",
            "description": "Human-readable label for the context URL link.",
            "examples": [
              "Lab Sessional Finalization - (DL - Section D & E)"
            ]
          },
          "timecreated": {
            "type": "integer",
            "description": "Unix timestamp when the notification was created.",
            "contentEncoding": "int32",
            "examples": [
              1780045085
            ]
          },
          "timecreatedpretty": {
            "type": "string",
            "description": "Human-readable relative time string (e.g., '19 days ago').",
            "examples": [
              "19 days ago"
            ]
          },
          "timeread": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Unix timestamp when the notification was read; null if unread.",
            "contentEncoding": "int32"
          },
          "read": {
            "type": "boolean",
            "description": "Whether the notification has been read by the recipient.",
            "examples": [
              false
            ]
          },
          "deleted": {
            "type": "boolean",
            "description": "Whether the notification has been deleted by the recipient.",
            "examples": [
              false
            ]
          },
          "iconurl": {
            "type": "string",
            "description": "URL to the icon image representing the notification source.",
            "examples": [
              "https://lms.nust.edu.pk/portal/theme/image.php/moove/mod_forum/1778048051/icon"
            ]
          },
          "component": {
            "type": "string",
            "description": "Moodle component that generated the notification (e.g., 'mod_forum').",
            "examples": [
              "mod_forum"
            ]
          },
          "eventtype": {
            "type": "string",
            "description": "Event type within the component that triggered the notification (e.g., 'posts').",
            "examples": [
              "posts"
            ]
          },
          "customdata": {
            "type": "string",
            "description": "JSON-encoded string with additional notification metadata (cmid, instance, discussionid, postid, etc.).",
            "examples": [
              {
                "cmid": "1272420",
                "instance": "62569",
                "discussionid": "41767"
              }
            ]
          }
        },
        "description": "A popup notification message delivered to a user."
      },
      "PopupNotificationsResponse": {
        "title": "PopupNotificationsResponse",
        "required": [
          "notifications",
          "unreadcount"
        ],
        "type": "object",
        "properties": {
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Notification"
            },
            "description": "List of popup notifications for the user."
          },
          "unreadcount": {
            "type": "integer",
            "description": "Total number of unread notifications for the user.",
            "contentEncoding": "int32",
            "examples": [
              1
            ]
          }
        },
        "description": "Response envelope for the popup-notifications endpoint."
      },
      "GetRecentCoursesRequest": {
        "title": "GetRecentCoursesRequest",
        "required": [
          "limit"
        ],
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "description": "Maximum number of courses to return.",
            "contentEncoding": "int32",
            "examples": [
              10
            ]
          }
        },
        "description": "Request parameters for retrieving recently accessed courses."
      },
      "GetEnrolledCoursesByTimelineRequest": {
        "title": "GetEnrolledCoursesByTimelineRequest",
        "required": [
          "offset",
          "limit",
          "classification",
          "sort"
        ],
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "description": "Zero-based pagination offset.",
            "contentEncoding": "int32",
            "examples": [
              0
            ]
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of courses to return.",
            "contentEncoding": "int32",
            "examples": [
              50
            ]
          },
          "classification": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CourseTimelineClassification"
              },
              {
                "description": "Timeline classification filter for enrolled courses."
              }
            ]
          },
          "sort": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CourseTimelineSortField"
              },
              {
                "description": "Field used to sort enrolled course results."
              }
            ]
          }
        },
        "description": "Request parameters for retrieving enrolled courses filtered by timeline classification."
      },
      "GetCalendarEventsByTimesortRequest": {
        "title": "GetCalendarEventsByTimesortRequest",
        "required": [
          "limitnum",
          "timesortfrom"
        ],
        "type": "object",
        "properties": {
          "limitnum": {
            "type": "integer",
            "description": "Maximum number of events to return.",
            "contentEncoding": "int32",
            "examples": [
              20
            ]
          },
          "timesortfrom": {
            "type": "integer",
            "description": "Only return events with timesort >= this Unix timestamp. Pass 0 for no lower bound.",
            "contentEncoding": "int32",
            "examples": [
              0
            ]
          },
          "timesortto": {
            "type": "integer",
            "description": "Only return events with timesort <= this Unix timestamp. Optional.",
            "contentEncoding": "int32"
          },
          "aftereventid": {
            "type": "integer",
            "description": "Return events whose ID is greater than this value (cursor pagination). Optional.",
            "contentEncoding": "int32"
          }
        },
        "description": "Request parameters for retrieving calendar action events sorted by time."
      },
      "GetCalendarEventsByCourseRequest": {
        "title": "GetCalendarEventsByCourseRequest",
        "required": [
          "courseid"
        ],
        "type": "object",
        "properties": {
          "courseid": {
            "type": "integer",
            "description": "ID of the course to fetch events for.",
            "contentEncoding": "int32",
            "examples": [
              49906
            ]
          },
          "timesortfrom": {
            "type": "integer",
            "description": "Only return events with timesort >= this Unix timestamp. Optional.",
            "contentEncoding": "int32"
          },
          "timesortto": {
            "type": "integer",
            "description": "Only return events with timesort <= this Unix timestamp. Optional.",
            "contentEncoding": "int32"
          },
          "aftereventid": {
            "type": "integer",
            "description": "Cursor-based pagination — return events after this event ID. Optional.",
            "contentEncoding": "int32"
          },
          "limitnum": {
            "type": "integer",
            "description": "Maximum number of events to return. Optional.",
            "contentEncoding": "int32"
          }
        },
        "description": "Request parameters for retrieving calendar action events for a specific course."
      },
      "GetPopupNotificationsRequest": {
        "title": "GetPopupNotificationsRequest",
        "required": [
          "useridto",
          "limit",
          "offset"
        ],
        "type": "object",
        "properties": {
          "useridto": {
            "type": "string",
            "description": "ID of the recipient user, passed as a string.",
            "examples": [
              "123456"
            ]
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of notifications to return.",
            "contentEncoding": "int32",
            "examples": [
              20
            ]
          },
          "offset": {
            "type": "integer",
            "description": "Pagination offset.",
            "contentEncoding": "int32",
            "examples": [
              0
            ]
          }
        },
        "description": "Request parameters for retrieving popup notifications for a user."
      },
      "AuthLogin401Error1": {
        "title": "AuthLogin401Error1",
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "examples": [
              "Invalid LMS credentials."
            ]
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "description": "Gateway-issued JWT. Obtain it from `POST /auth/login` using your NUST LMS credentials, then send it as `Authorization: Bearer <token>`. The gateway manages the underlying LMS session (cookie + sesskey) server-side, so the ephemeral sesskey never leaves the gateway.\n",
        "scheme": "bearer",
        "bearerFormat": "jwt"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Exchange NUST LMS credentials for a gateway bearer token"
    },
    {
      "name": "Courses",
      "description": "Course listing and enrollment operations"
    },
    {
      "name": "Calendar",
      "description": "Calendar operations. On NUST LMS, these \"action events\" are how deadlines are surfaced — assignment, lab, quiz, and other submission due dates each appear as a calendar event on the day the work must be submitted.\n"
    },
    {
      "name": "Account",
      "description": "Your identity and account/site information"
    },
    {
      "name": "Notifications",
      "description": "Notification retrieval operations"
    }
  ]
}