#%RAML 1.0
title: NUST LMS API
version: 1.0.0
baseUri: https://lms.nust.edu.pk/portal
baseUriParameters: {}
protocols:
- HTTPS
documentation:
- title: NUST LMS API
  content: NUST Learning Management System API for developer integrations (Moodle AJAX wrapper). Each path is virtual for clean SDK generation; NustDevKit resolves them to the underlying Moodle AJAX service endpoint transparently.
securitySchemes:
  SessKey:
    type: Pass Through
    description: Session key obtained after authenticating with the LMS portal.
    describedBy:
      queryParameters:
        sesskey:
          required: true
          displayName: sesskey
          description: Session key obtained after authenticating with the LMS portal.
          type: string
securedBy:
- SessKey
types:
  MoodleWarning:
    displayName: MoodleWarning
    description: A non-fatal warning returned alongside a successful response.
    type: object
    properties:
      item:
        required: false
        displayName: item
        description: Item identifier related to the warning; empty string if not applicable.
        type: string
      itemid:
        required: false
        example:
          value: 0
        displayName: itemid
        description: Numeric item ID related to the warning; 0 if not applicable.
        type: integer
        format: int32
      warningcode:
        required: false
        displayName: warningcode
        description: Machine-readable warning code; empty string if no code.
        type: string
      message:
        required: false
        displayName: message
        description: Human-readable warning description.
        type: string
  SiteNotification:
    displayName: SiteNotification
    description: A site-level notification (structure varies by type).
    type: object
    properties:
      id:
        required: false
        displayName: id
        description: Unique identifier for the site notification.
        type: integer
        format: int32
      message:
        required: false
        displayName: message
        description: Notification message content.
        type: string
      type:
        required: false
        displayName: type
        description: Notification type identifier.
        type: string
  MoodleError:
    displayName: MoodleError
    description: Error returned by the LMS on a failed operation.
    type: object
    properties:
      errorcode:
        required: false
        example:
          value: invalidrecord
        displayName: errorcode
        description: Machine-readable error code identifier.
        type: string
      message:
        required: false
        example:
          value: Can't find data record in database table.
        displayName: message
        description: Human-readable error description.
        type: string
      link:
        required: false
        displayName: link
        description: Redirect URL for the user; empty string if not applicable.
        type: string
      moreinfourl:
        required: false
        displayName: moreinfourl
        description: URL to additional error documentation; empty string if not available.
        type: string
      debuginfo:
        required: false
        displayName: debuginfo
        description: Additional debug information; empty string when not in debug mode.
        type: string
  Course:
    displayName: Course
    description: An enrolled course.
    type: object
    properties:
      id:
        required: true
        example:
          value: 49900
        displayName: id
        description: Unique course identifier.
        type: integer
        format: int32
      fullname:
        required: true
        example:
          value: CS-212 Object Oriented Programming BSCS-13 2K23 ABC
        displayName: fullname
        description: Full display name of the course.
        type: string
      shortname:
        required: true
        example:
          value: CS-212-Sp'24 BSCS-13 2K23 ABC
        displayName: shortname
        description: Short course code or abbreviated name.
        type: string
      idnumber:
        required: true
        displayName: idnumber
        description: Institution-assigned course ID number; empty string if not set.
        type: string
      summary:
        required: true
        displayName: summary
        description: HTML summary of the course.
        type: string
      summaryformat:
        required: true
        example:
          value: 1
        displayName: summaryformat
        description: Format of the summary field (1 = HTML).
        type: integer
        format: int32
      startdate:
        required: true
        example:
          value: 1706468400
        displayName: startdate
        description: Course start date as Unix timestamp.
        type: integer
        format: int32
      enddate:
        required: true
        example:
          value: 1717362000
        displayName: enddate
        description: Course end date as Unix timestamp. 0 means no end date.
        type: integer
        format: int32
      visible:
        required: true
        example:
          value: true
        displayName: visible
        description: Whether the course is visible to enrolled students.
        type: boolean
      fullnamedisplay:
        required: true
        example:
          value: CS-212 Object Oriented Programming BSCS-13 2K23 ABC
        displayName: fullnamedisplay
        description: Display name of the course (may differ from fullname for context).
        type: string
      viewurl:
        required: true
        example:
          value: https://lms.nust.edu.pk/portal/course/view.php?id=49900
        displayName: viewurl
        description: URL to the course page on the LMS portal.
        type: string
      progress:
        required: true
        example:
          value: 21
        displayName: progress
        description: Student's completion progress as a percentage.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      hasprogress:
        required: true
        example:
          value: true
        displayName: hasprogress
        description: Whether completion tracking is enabled for this course.
        type: boolean
      isfavourite:
        required: true
        example:
          value: false
        displayName: isfavourite
        description: Whether the user has marked this course as a favourite.
        type: boolean
      hidden:
        required: true
        example:
          value: false
        displayName: hidden
        description: Whether the user has hidden this course from their dashboard.
        type: boolean
      showshortname:
        required: true
        example:
          value: false
        displayName: showshortname
        description: Whether the short name is displayed alongside the full name.
        type: boolean
      coursecategory:
        required: true
        example:
          value: 2nd Semester (SP-2024)
        displayName: coursecategory
        description: Name of the category this course belongs to.
        type: string
  RecentCourseFields:
    displayName: RecentCourseFields
    description: Additional fields specific to recently accessed courses.
    type: object
    properties:
      timeaccess:
        required: true
        example:
          value: 1781632422
        displayName: timeaccess
        description: Unix timestamp of the user's most recent access to this course.
        type: integer
        format: int32
  RecentCourse:
    displayName: RecentCourse
    description: A recently accessed course, extending Course with the last-access timestamp.
    type: object
    properties:
      id:
        required: true
        example:
          value: 49900
        displayName: id
        description: Unique course identifier.
        type: integer
        format: int32
      fullname:
        required: true
        example:
          value: CS-212 Object Oriented Programming BSCS-13 2K23 ABC
        displayName: fullname
        description: Full display name of the course.
        type: string
      shortname:
        required: true
        example:
          value: CS-212-Sp'24 BSCS-13 2K23 ABC
        displayName: shortname
        description: Short course code or abbreviated name.
        type: string
      idnumber:
        required: true
        displayName: idnumber
        description: Institution-assigned course ID number; empty string if not set.
        type: string
      summary:
        required: true
        displayName: summary
        description: HTML summary of the course.
        type: string
      summaryformat:
        required: true
        example:
          value: 1
        displayName: summaryformat
        description: Format of the summary field (1 = HTML).
        type: integer
        format: int32
      startdate:
        required: true
        example:
          value: 1706468400
        displayName: startdate
        description: Course start date as Unix timestamp.
        type: integer
        format: int32
      enddate:
        required: true
        example:
          value: 1717362000
        displayName: enddate
        description: Course end date as Unix timestamp. 0 means no end date.
        type: integer
        format: int32
      visible:
        required: true
        example:
          value: true
        displayName: visible
        description: Whether the course is visible to enrolled students.
        type: boolean
      fullnamedisplay:
        required: true
        example:
          value: CS-212 Object Oriented Programming BSCS-13 2K23 ABC
        displayName: fullnamedisplay
        description: Display name of the course (may differ from fullname for context).
        type: string
      viewurl:
        required: true
        example:
          value: https://lms.nust.edu.pk/portal/course/view.php?id=49900
        displayName: viewurl
        description: URL to the course page on the LMS portal.
        type: string
      progress:
        required: true
        example:
          value: 21
        displayName: progress
        description: Student's completion progress as a percentage.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      hasprogress:
        required: true
        example:
          value: true
        displayName: hasprogress
        description: Whether completion tracking is enabled for this course.
        type: boolean
      isfavourite:
        required: true
        example:
          value: false
        displayName: isfavourite
        description: Whether the user has marked this course as a favourite.
        type: boolean
      hidden:
        required: true
        example:
          value: false
        displayName: hidden
        description: Whether the user has hidden this course from their dashboard.
        type: boolean
      showshortname:
        required: true
        example:
          value: false
        displayName: showshortname
        description: Whether the short name is displayed alongside the full name.
        type: boolean
      coursecategory:
        required: true
        example:
          value: 2nd Semester (SP-2024)
        displayName: coursecategory
        description: Name of the category this course belongs to.
        type: string
      timeaccess:
        required: true
        example:
          value: 1781632422
        displayName: timeaccess
        description: Unix timestamp of the user's most recent access to this course.
        type: integer
        format: int32
  EnrolledCoursesResponse:
    displayName: EnrolledCoursesResponse
    description: Paginated enrolled-courses response.
    type: object
    properties:
      courses:
        required: true
        displayName: courses
        description: List of enrolled courses for the current page.
        type: array
        items:
          type: Course
      nextoffset:
        required: true
        example:
          value: 29
        displayName: nextoffset
        description: Offset to pass on the next page request; -1 when no further pages exist.
        type: integer
        format: int32
  EventIcon:
    displayName: EventIcon
    description: Icon metadata for a calendar event.
    type: object
    properties:
      key:
        required: true
        example:
          value: icon
        displayName: key
        description: Icon key name used to locate the icon asset.
        type: string
      component:
        required: true
        example:
          value: assign
        displayName: component
        description: Moodle component that owns the icon (e.g., 'assign').
        type: string
      alttext:
        required: true
        example:
          value: Activity event
        displayName: alttext
        description: Accessible alt text for the icon image.
        type: string
  EventSubscription:
    displayName: EventSubscription
    description: Subscription display settings for a calendar event.
    type: object
    properties:
      displayeventsource:
        required: true
        example:
          value: false
        displayName: displayeventsource
        description: Whether to display the event source label on the calendar.
        type: boolean
  EventAction:
    displayName: EventAction
    description: Primary action button metadata for a calendar event.
    type: object
    properties:
      name:
        required: true
        example:
          value: Add submission
        displayName: name
        description: Display label for the primary action button.
        type: string
      url:
        required: true
        example:
          value: https://lms.nust.edu.pk/portal/mod/assign/view.php?id=999404&action=editsubmission
        displayName: url
        description: URL the user should navigate to in order to perform the action.
        type: string
      itemcount:
        required: true
        example:
          value: 1
        displayName: itemcount
        description: Number of items associated with this action.
        type: integer
        format: int32
      actionable:
        required: true
        example:
          value: true
        displayName: actionable
        description: Whether the action can currently be taken by the user.
        type: boolean
      showitemcount:
        required: true
        example:
          value: false
        displayName: showitemcount
        description: Whether to display the item count alongside the action label.
        type: boolean
  CalendarEvent:
    displayName: CalendarEvent
    description: A calendar action event tied to a course activity (e.g., an assignment deadline).
    type: object
    properties:
      id:
        required: true
        example:
          value: 149885
        displayName: id
        description: Unique calendar event identifier.
        type: integer
        format: int32
      name:
        required: true
        example:
          value: Lab 1 BSCS 13C is due
        displayName: name
        description: Display name of the calendar event.
        type: string
      description:
        required: true
        example:
          value: <p dir="ltr">Lab 1 BSCS 13C<br /></p>
        displayName: description
        description: HTML description body of the event.
        type: string
      descriptionformat:
        required: true
        example:
          value: 1
        displayName: descriptionformat
        description: Text format of the description (1 = HTML).
        type: integer
        format: int32
      location:
        required: true
        displayName: location
        description: Physical or virtual location of the event; empty string if not specified.
        type: string
      categoryid:
        required: false
        displayName: categoryid
        description: Course category ID; null if not a category event.
        type:
        - integer
        - nil
        format: int32
      groupid:
        required: false
        displayName: groupid
        description: Group ID if the event is group-specific; null otherwise.
        type:
        - integer
        - nil
        format: int32
      userid:
        required: false
        displayName: userid
        description: User ID if the event is user-specific; null otherwise.
        type:
        - integer
        - nil
        format: int32
      repeatid:
        required: false
        displayName: repeatid
        description: ID of the repeat group for recurring events; null if not recurring.
        type:
        - integer
        - nil
        format: int32
      eventcount:
        required: false
        displayName: eventcount
        description: Total number of events in the repeat group; null if not applicable.
        type:
        - integer
        - nil
        format: int32
      component:
        required: true
        example:
          value: mod_assign
        displayName: component
        description: Moodle component that created the event (e.g., 'mod_assign').
        type: string
      modulename:
        required: true
        example:
          value: assign
        displayName: modulename
        description: Short name of the Moodle activity module (e.g., 'assign').
        type: string
      instance:
        required: true
        example:
          value: 999404
        displayName: instance
        description: The course module instance ID.
        type: integer
        format: int32
      eventtype:
        required: true
        example:
          value: due
        displayName: eventtype
        description: Type of the event (e.g., 'due', 'open', 'close').
        type: string
      timestart:
        required: true
        example:
          value: 1706900340
        displayName: timestart
        description: Event start time as Unix timestamp.
        type: integer
        format: int32
      timeduration:
        required: true
        example:
          value: 0
        displayName: timeduration
        description: Duration in seconds; 0 for point-in-time events.
        type: integer
        format: int32
      timesort:
        required: true
        example:
          value: 1706900340
        displayName: timesort
        description: Sort timestamp used for ordering events.
        type: integer
        format: int32
      visible:
        required: true
        displayName: visible
        description: Visibility flag for a calendar event. 1 means the event is visible; 0 means it is hidden.
        type: integer
        format: int32
      timemodified:
        required: true
        example:
          value: 1779088440
        displayName: timemodified
        description: Last modification time as Unix timestamp.
        type: integer
        format: int32
      icon:
        required: true
        displayName: icon
        description: Icon metadata for a calendar event.
        type: EventIcon
      course:
        required: true
        displayName: course
        description: An enrolled course.
        type: Course
      subscription:
        required: true
        displayName: subscription
        description: Subscription display settings for a calendar event.
        type: EventSubscription
      canedit:
        required: true
        example:
          value: false
        displayName: canedit
        description: Whether the current user can edit this event.
        type: boolean
      candelete:
        required: true
        example:
          value: false
        displayName: candelete
        description: Whether the current user can delete this event.
        type: boolean
      deleteurl:
        required: true
        example:
          value: https://lms.nust.edu.pk/portal/calendar/delete.php?id=149885&course=49900
        displayName: deleteurl
        description: URL to delete this calendar event.
        type: string
      editurl:
        required: true
        example:
          value: https://lms.nust.edu.pk/portal/course/mod.php?update=999404&return=1&sesskey=XXXX
        displayName: editurl
        description: URL to edit the underlying course module associated with this event.
        type: string
      viewurl:
        required: true
        example:
          value: https://lms.nust.edu.pk/portal/calendar/view.php?view=day&course=49900&time=1706900340
        displayName: viewurl
        description: URL to view this event on the calendar.
        type: string
      formattedtime:
        required: true
        example:
          value: <span class="dimmed_text">Friday, 2 February, 11:59 PM</span>
        displayName: formattedtime
        description: HTML-formatted human-readable event time string.
        type: string
      isactionevent:
        required: true
        example:
          value: true
        displayName: isactionevent
        description: Whether this is an action event requiring user interaction.
        type: boolean
      iscourseevent:
        required: true
        example:
          value: false
        displayName: iscourseevent
        description: Whether this event is associated with a specific course.
        type: boolean
      iscategoryevent:
        required: true
        example:
          value: false
        displayName: iscategoryevent
        description: Whether this event is associated with a course category.
        type: boolean
      groupname:
        required: false
        displayName: groupname
        description: Name of the group for group-specific events; null otherwise.
        type:
        - string
        - nil
      normalisedeventtype:
        required: true
        example:
          value: course
        displayName: normalisedeventtype
        description: Normalised event type identifier used for display grouping.
        type: string
      normalisedeventtypetext:
        required: true
        example:
          value: Course event
        displayName: normalisedeventtypetext
        description: Human-readable label for the normalised event type.
        type: string
      action:
        required: false
        displayName: action
        description: Primary action button metadata for a calendar event.
        type: EventAction
      url:
        required: true
        example:
          value: https://lms.nust.edu.pk/portal/mod/assign/view.php?id=999404
        displayName: url
        description: Direct URL to the course activity associated with this event.
        type: string
  CalendarEventsResponse:
    displayName: CalendarEventsResponse
    description: A list of calendar events with pagination boundary IDs.
    type: object
    properties:
      events:
        required: true
        displayName: events
        description: List of calendar action events for the current result set.
        type: array
        items:
          type: CalendarEvent
      firstid:
        required: true
        example:
          value: 149885
        displayName: firstid
        description: Event ID of the first item in the result set.
        type: integer
        format: int32
      lastid:
        required: true
        example:
          value: 151886
        displayName: lastid
        description: Event ID of the last item in the result set.
        type: integer
        format: int32
  CustomField:
    displayName: CustomField
    description: A custom profile field value attached to a user.
    type: object
    properties:
      type:
        required: true
        example:
          value: text
        displayName: type
        description: Data type of the custom field (e.g., 'text', 'select').
        type: string
      value:
        required: true
        example:
          value: SEECS
        displayName: value
        description: Value stored in the custom field.
        type: string
      name:
        required: true
        example:
          value: Institute
        displayName: name
        description: Display label of the custom field.
        type: string
      shortname:
        required: true
        example:
          value: institution
        displayName: shortname
        description: Machine-readable shortname identifier for the custom field.
        type: string
  UserPreference:
    displayName: UserPreference
    description: A single user preference setting.
    type: object
    properties:
      name:
        required: true
        example:
          value: block_myoverview_user_sort_preference
        displayName: name
        description: Unique key identifying the preference.
        type: string
      value:
        required: true
        example:
          value: title
        displayName: value
        description: Preference value as a string. Note that the internal _lastloaded preference is returned as an integer by the LMS.
        type: string
  UserProfile:
    displayName: UserProfile
    description: Complete user profile.
    type: object
    properties:
      id:
        required: true
        example:
          value: 162154
        displayName: id
        description: Unique numeric user identifier.
        type: integer
        format: int32
      username:
        required: true
        example:
          value: hhameed.bscs23seecs
        displayName: username
        description: Login username for the user.
        type: string
      fullname:
        required: true
        example:
          value: Hasaan Hameed
        displayName: fullname
        description: Full display name of the user.
        type: string
      email:
        required: true
        example:
          value: hhameed.bscs23seecs@seecs.edu.pk
        displayName: email
        description: Email address of the user.
        type: string
      department:
        required: true
        example:
          value: FoC
        displayName: department
        description: Department the user belongs to within the institution.
        type: string
      institution:
        required: true
        example:
          value: SEECS
        displayName: institution
        description: Name of the institution the user is affiliated with.
        type: string
      idnumber:
        required: true
        example:
          value: '00000454987'
        displayName: idnumber
        description: Institution-assigned student or staff ID number.
        type: string
      auth:
        required: true
        example:
          value: ldap
        displayName: auth
        description: Authentication method used by the user (e.g., 'ldap', 'manual').
        type: string
      confirmed:
        required: true
        example:
          value: true
        displayName: confirmed
        description: Whether the user's account has been confirmed.
        type: boolean
      lang:
        required: true
        example:
          value: en
        displayName: lang
        description: Preferred interface language code (e.g., 'en').
        type: string
      theme:
        required: true
        displayName: theme
        description: Preferred LMS theme; empty string means use the site default.
        type: string
      timezone:
        required: true
        example:
          value: '99'
        displayName: timezone
        description: Timezone identifier. "99" means use the server default.
        type: string
      mailformat:
        required: true
        example:
          value: 1
        displayName: mailformat
        description: Email format preference (1 = HTML).
        type: integer
        format: int32
      profileimageurlsmall:
        required: true
        example:
          value: https://lms.nust.edu.pk/portal/pluginfile.php/1583361/user/icon/moove/f2?rev=14452894
        displayName: profileimageurlsmall
        description: URL to the user's small profile image (thumbnail).
        type: string
      profileimageurl:
        required: true
        example:
          value: https://lms.nust.edu.pk/portal/pluginfile.php/1583361/user/icon/moove/f1?rev=14452894
        displayName: profileimageurl
        description: URL to the user's full-size profile image.
        type: string
      customfields:
        required: false
        displayName: customfields
        description: List of custom profile field values for the user.
        type: array
        items:
          type: CustomField
      preferences:
        required: false
        displayName: preferences
        description: List of stored preference key/value pairs for the user.
        type: array
        items:
          type: UserPreference
  UserPreferencesResponse:
    displayName: UserPreferencesResponse
    description: Response envelope for the user-preferences endpoint.
    type: object
    properties:
      preferences:
        required: true
        displayName: preferences
        description: List of user preference key/value pairs.
        type: array
        items:
          type: UserPreference
      warnings:
        required: true
        displayName: warnings
        description: Array of warning objects. Empty when no warnings are present.
        type: array
        items:
          type: MoodleWarning
  Notification:
    displayName: Notification
    description: A popup notification message delivered to a user.
    type: object
    properties:
      id:
        required: true
        example:
          value: 4857819
        displayName: id
        description: Unique notification identifier.
        type: integer
        format: int32
      useridfrom:
        required: true
        example:
          value: 198956
        displayName: useridfrom
        description: User ID of the sender.
        type: integer
        format: int32
      useridto:
        required: true
        example:
          value: 162154
        displayName: useridto
        description: User ID of the recipient.
        type: integer
        format: int32
      subject:
        required: true
        example:
          value: 'CS-419-Deep Learning: Lab Sessional Finalization'
        displayName: subject
        description: Subject line of the notification.
        type: string
      shortenedsubject:
        required: true
        example:
          value: 'CS-419-Deep Learning: Lab Sessional Finalization'
        displayName: shortenedsubject
        description: Shortened version of the notification subject for compact display.
        type: string
      text:
        required: true
        example:
          value: <p>Areeba Rameen posted in CS-419-Deep Learning...</p>
        displayName: text
        description: Short HTML excerpt of the notification.
        type: string
      fullmessage:
        required: true
        displayName: fullmessage
        description: Full plain-text body of the notification.
        type: string
      fullmessageformat:
        required: true
        example:
          value: 2
        displayName: fullmessageformat
        description: Format identifier for fullmessagehtml (2 = Markdown source).
        type: integer
        format: int32
      fullmessagehtml:
        required: true
        displayName: fullmessagehtml
        description: Full HTML body of the notification email.
        type: string
      smallmessage:
        required: true
        example:
          value: Areeba Rameen posted in CS-419-Deep Learning...
        displayName: smallmessage
        description: Short plain-text preview of the notification.
        type: string
      contexturl:
        required: true
        example:
          value: https://lms.nust.edu.pk/portal/mod/forum/discuss.php?d=41767#p52342
        displayName: contexturl
        description: URL to the relevant context for this notification (e.g., a forum post).
        type: string
      contexturlname:
        required: true
        example:
          value: Lab Sessional Finalization - (DL - Section D & E)
        displayName: contexturlname
        description: Human-readable label for the context URL link.
        type: string
      timecreated:
        required: true
        example:
          value: 1780045085
        displayName: timecreated
        description: Unix timestamp when the notification was created.
        type: integer
        format: int32
      timecreatedpretty:
        required: true
        example:
          value: 19 days ago
        displayName: timecreatedpretty
        description: Human-readable relative time string (e.g., '19 days ago').
        type: string
      timeread:
        required: false
        displayName: timeread
        description: Unix timestamp when the notification was read; null if unread.
        type:
        - integer
        - nil
        format: int32
      read:
        required: true
        example:
          value: false
        displayName: read
        description: Whether the notification has been read by the recipient.
        type: boolean
      deleted:
        required: true
        example:
          value: false
        displayName: deleted
        description: Whether the notification has been deleted by the recipient.
        type: boolean
      iconurl:
        required: true
        example:
          value: https://lms.nust.edu.pk/portal/theme/image.php/moove/mod_forum/1778048051/icon
        displayName: iconurl
        description: URL to the icon image representing the notification source.
        type: string
      component:
        required: true
        example:
          value: mod_forum
        displayName: component
        description: Moodle component that generated the notification (e.g., 'mod_forum').
        type: string
      eventtype:
        required: true
        example:
          value: posts
        displayName: eventtype
        description: Event type within the component that triggered the notification (e.g., 'posts').
        type: string
      customdata:
        required: true
        example:
          value:
            cmid: '1272420'
            instance: '62569'
            discussionid: '41767'
        displayName: customdata
        description: JSON-encoded string with additional notification metadata (cmid, instance, discussionid, postid, etc.).
        type: string
  PopupNotificationsResponse:
    displayName: PopupNotificationsResponse
    description: Response envelope for the popup-notifications endpoint.
    type: object
    properties:
      notifications:
        required: true
        displayName: notifications
        description: List of popup notifications for the user.
        type: array
        items:
          type: Notification
      unreadcount:
        required: true
        example:
          value: 1
        displayName: unreadcount
        description: Total number of unread notifications for the user.
        type: integer
        format: int32
  GetRecentCoursesRequest:
    displayName: GetRecentCoursesRequest
    description: Request parameters for retrieving recently accessed courses.
    type: object
    properties:
      limit:
        required: true
        default: '10'
        example:
          value: 10
        displayName: limit
        description: Maximum number of courses to return.
        type: integer
        format: int32
  GetEnrolledCoursesByTimelineRequest:
    displayName: GetEnrolledCoursesByTimelineRequest
    description: Request parameters for retrieving enrolled courses filtered by timeline classification.
    type: object
    properties:
      offset:
        required: true
        default: '0'
        example:
          value: 0
        displayName: offset
        description: Zero-based pagination offset.
        type: integer
        format: int32
      limit:
        required: true
        default: '50'
        example:
          value: 50
        displayName: limit
        description: Maximum number of courses to return.
        type: integer
        format: int32
      classification:
        required: true
        displayName: classification
        description: Timeline classification filter for enrolled courses.
        type: string
        enum:
        - all
        - inprogress
        - past
        - future
        - favourite
        - hidden
        - allincludinghidden
      sort:
        required: true
        displayName: sort
        description: Field used to sort enrolled course results.
        type: string
        enum:
        - fullname
        - shortname
        - id
        - idnumber
        - timeaccess
  FetchNotificationsRequest:
    displayName: FetchNotificationsRequest
    description: Request parameters for fetching site-level notifications.
    type: object
    properties:
      contextid:
        required: true
        example:
          value: 1583361
        displayName: contextid
        description: Moodle context ID for which to fetch notifications. The user context ID can be found in the user profile image URL path segment.
        type: integer
        format: int32
  GetCalendarEventsByTimesortRequest:
    displayName: GetCalendarEventsByTimesortRequest
    description: Request parameters for retrieving calendar action events sorted by time.
    type: object
    properties:
      limitnum:
        required: true
        example:
          value: 20
        displayName: limitnum
        description: Maximum number of events to return.
        type: integer
        format: int32
      timesortfrom:
        required: true
        example:
          value: 0
        displayName: timesortfrom
        description: Only return events with timesort >= this Unix timestamp. Pass 0 for no lower bound.
        type: integer
        format: int32
      timesortto:
        required: false
        displayName: timesortto
        description: Only return events with timesort <= this Unix timestamp. Optional.
        type: integer
        format: int32
      aftereventid:
        required: false
        displayName: aftereventid
        description: Return events whose ID is greater than this value (cursor pagination). Optional.
        type: integer
        format: int32
  GetCalendarEventsByCourseRequest:
    displayName: GetCalendarEventsByCourseRequest
    description: Request parameters for retrieving calendar action events for a specific course.
    type: object
    properties:
      courseid:
        required: true
        example:
          value: 49906
        displayName: courseid
        description: ID of the course to fetch events for.
        type: integer
        format: int32
      timesortfrom:
        required: false
        displayName: timesortfrom
        description: Only return events with timesort >= this Unix timestamp. Optional.
        type: integer
        format: int32
      timesortto:
        required: false
        displayName: timesortto
        description: Only return events with timesort <= this Unix timestamp. Optional.
        type: integer
        format: int32
      aftereventid:
        required: false
        displayName: aftereventid
        description: Cursor-based pagination — return events after this event ID. Optional.
        type: integer
        format: int32
      limitnum:
        required: false
        displayName: limitnum
        description: Maximum number of events to return. Optional.
        type: integer
        format: int32
  GetUsersByFieldRequest:
    displayName: GetUsersByFieldRequest
    description: Request parameters for retrieving user profiles by a profile field value.
    type: object
    properties:
      field:
        required: true
        displayName: field
        description: User profile field to match against when searching for users.
        type: string
        enum:
        - id
        - idnumber
        - username
        - email
      values:
        required: true
        example:
          value:
          - '162154'
        displayName: values
        description: List of field values to look up. All values must be provided as strings even when the field is numeric (e.g., "162154" for an integer ID).
        type: array
        items:
          type: string
  GetUserPreferencesRequest:
    displayName: GetUserPreferencesRequest
    description: Request parameters for retrieving user preferences.
    type: object
    properties:
      userid:
        required: true
        example:
          value: 162154
        displayName: userid
        description: ID of the user whose preferences to retrieve.
        type: integer
        format: int32
      name:
        required: false
        displayName: name
        description: Specific preference name to retrieve. Omit to retrieve all preferences.
        type: string
  GetPopupNotificationsRequest:
    displayName: GetPopupNotificationsRequest
    description: Request parameters for retrieving popup notifications for a user.
    type: object
    properties:
      useridto:
        required: true
        example:
          value: '162154'
        displayName: useridto
        description: ID of the recipient user, passed as a string.
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: Maximum number of notifications to return.
        type: integer
        format: int32
      offset:
        required: true
        default: '0'
        example:
          value: 0
        displayName: offset
        description: Pagination offset.
        type: integer
        format: int32
/service:
  /core_course_get_recent_courses:
    post:
      displayName: getCoreRecentCourses
      description: >
        Returns the courses the authenticated user has accessed most recently, ordered by last access time.

        Moodle method: `core_course_get_recent_courses`
      body:
        application/json:
          displayName: body
          description: Parameters for the recent courses request.
          type: GetRecentCoursesRequest
      headers:
        Content-Type:
          required: true
          displayName: Content-Type
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: List of recently accessed courses ordered by last access.
          body:
            application/json:
              displayName: response200
              description: Recently accessed courses ordered by last access time.
              type: array
              items:
                type: RecentCourse
        '400':
          description: Bad request or Moodle exception.
          body:
            application/json:
              displayName: response400
              description: Error returned by the LMS on a failed operation.
              type: MoodleError
  /core_course_get_enrolled_courses_by_timeline_classification:
    post:
      displayName: getEnrolledCoursesByTimeline
      description: >
        Returns all courses the user is enrolled in, filtered by timeline classification and sorted by a chosen field. Supports pagination via offset.

        Moodle method: `core_course_get_enrolled_courses_by_timeline_classification`
      body:
        application/json:
          displayName: body
          description: Parameters for the enrolled courses timeline request.
          type: GetEnrolledCoursesByTimelineRequest
      headers:
        Content-Type:
          required: true
          displayName: Content-Type
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: Paginated list of enrolled courses.
          body:
            application/json:
              displayName: response200
              description: Paginated enrolled-courses response.
              type: EnrolledCoursesResponse
        '400':
          description: Bad request or Moodle exception.
          body:
            application/json:
              displayName: response400
              description: Error returned by the LMS on a failed operation.
              type: MoodleError
  /core_calendar_get_action_events_by_timesort:
    post:
      displayName: getCalendarEventsByTimesort
      description: >
        Returns action events across all enrolled courses, ordered by their sort timestamp. Use `timesortfrom` to filter to upcoming events only.

        Moodle method: `core_calendar_get_action_events_by_timesort`
      body:
        application/json:
          displayName: body
          description: Parameters for the time-sorted calendar events request.
          type: GetCalendarEventsByTimesortRequest
      headers:
        Content-Type:
          required: true
          displayName: Content-Type
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: Calendar events sorted by timesort.
          body:
            application/json:
              displayName: response200
              description: A list of calendar events with pagination boundary IDs.
              type: CalendarEventsResponse
        '400':
          description: Bad request or Moodle exception.
          body:
            application/json:
              displayName: response400
              description: Error returned by the LMS on a failed operation.
              type: MoodleError
  /core_calendar_get_action_events_by_course:
    post:
      displayName: getCalendarEventsByCourse
      description: >
        Returns all action events (assignments, quizzes, etc.) for a single course.

        Moodle method: `core_calendar_get_action_events_by_course`
      body:
        application/json:
          displayName: body
          description: Parameters for the course-specific calendar events request.
          type: GetCalendarEventsByCourseRequest
      headers:
        Content-Type:
          required: true
          displayName: Content-Type
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: Calendar events for the specified course.
          body:
            application/json:
              displayName: response200
              description: A list of calendar events with pagination boundary IDs.
              type: CalendarEventsResponse
        '400':
          description: Bad request or Moodle exception.
          body:
            application/json:
              displayName: response400
              description: Error returned by the LMS on a failed operation.
              type: MoodleError
  /core_user_get_users_by_field:
    post:
      displayName: getUsersByField
      description: >
        Retrieves one or more user profiles by matching a specific profile field. Commonly used to look up the authenticated user's own profile by their ID.

        Moodle method: `core_user_get_users_by_field`
      body:
        application/json:
          displayName: body
          description: Parameters specifying the profile field and values to match.
          type: GetUsersByFieldRequest
      headers:
        Content-Type:
          required: true
          displayName: Content-Type
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: List of matching user profiles.
          body:
            application/json:
              displayName: response200
              description: User profiles matching the specified field value.
              type: array
              items:
                type: UserProfile
        '400':
          description: Bad request or Moodle exception.
          body:
            application/json:
              displayName: response400
              description: Error returned by the LMS on a failed operation.
              type: MoodleError
  /core_user_get_user_preferences:
    post:
      displayName: getUserPreferences
      description: >
        Returns all stored preference key/value pairs for the specified user. Optionally filter to a single preference by name.

        Moodle method: `core_user_get_user_preferences`
      body:
        application/json:
          displayName: body
          description: Parameters specifying which user's preferences to retrieve.
          type: GetUserPreferencesRequest
      headers:
        Content-Type:
          required: true
          displayName: Content-Type
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: User preferences list and optional warnings.
          body:
            application/json:
              displayName: response200
              description: Response envelope for the user-preferences endpoint.
              type: UserPreferencesResponse
        '400':
          description: Bad request or Moodle exception.
          body:
            application/json:
              displayName: response400
              description: Error returned by the LMS on a failed operation.
              type: MoodleError
  /core_fetch_notifications:
    post:
      displayName: fetchNotifications
      description: >
        Returns pending site-level notifications for the given Moodle context. Returns an empty array when there are no pending notifications.

        Moodle method: `core_fetch_notifications`
      body:
        application/json:
          displayName: body
          description: Parameters specifying the context to fetch notifications for.
          type: FetchNotificationsRequest
      headers:
        Content-Type:
          required: true
          displayName: Content-Type
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: Array of site notifications (empty array when none are pending).
          body:
            application/json:
              displayName: response200
              description: Site-level notifications for the given context; empty array when none are pending.
              type: array
              items:
                type: SiteNotification
        '400':
          description: Bad request or Moodle exception.
          body:
            application/json:
              displayName: response400
              description: Error returned by the LMS on a failed operation.
              type: MoodleError
  /message_popup_get_popup_notifications:
    post:
      displayName: getPopupNotifications
      description: >
        Returns the most recent popup notifications sent to a user, with support for pagination. Also returns the total count of unread notifications.

        Moodle method: `message_popup_get_popup_notifications`
      body:
        application/json:
          displayName: body
          description: Parameters for the popup notifications request.
          type: GetPopupNotificationsRequest
      headers:
        Content-Type:
          required: true
          displayName: Content-Type
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: Popup notifications and total unread count.
          body:
            application/json:
              displayName: response200
              description: Response envelope for the popup-notifications endpoint.
              type: PopupNotificationsResponse
        '400':
          description: Bad request or Moodle exception.
          body:
            application/json:
              displayName: response400
              description: Error returned by the LMS on a failed operation.
              type: MoodleError
